@model trading.Models.ReportAccountPayable

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ReportAccountPayable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientTradingProfileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientTradingProfileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientCurrencyNameOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientCurrencyNameOut)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradeDate)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAmountUncompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAmountUncompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAmountUncompletedUSD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAmountUncompletedUSD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientTradingProfileID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
