@model trading.Models.ReportProvider

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ReportProvider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderTradingProfileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderTradingProfileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalProviderExpectedPayInAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalProviderExpectedPayInAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSlipAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSlipAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissingSlipAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissingSlipAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProviderTradingProfileID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
