@model IEnumerable<trading.Models.ReportAccountReceivable>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $.fn.dataTable.moment('M/D/YYYY');
        var table = $('#tblAccountReceivable').DataTable({
            "paging": false,
            "ordering": true,
            "info": false,
            "searching": false 
        }); 
    });
</script>
<h1>Account Receivable</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <table class="table-borderless">
                <tr>
                    <td>Provider</td>
                    <td>@Html.DropDownList("providerID", ViewBag.Provider as SelectList, "", new { @class = "form-control" })</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Provider Trading Profile</td>
                    <td>@Html.DropDownList("providerTradingProfileID", ViewBag.ProviderTradingProfile as SelectList, "", new { @class = "form-control" })</td>
                    <td><input type="submit" value="Search" class="btn btn-default" /></td>
                </tr>
            </table>
        </p>
    </div>
</form>

<table id="tblAccountReceivable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProviderTradingProfileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountReceivable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyName2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountReceivableUSD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderTradingProfileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountReceivable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyName2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountReceivableUSD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
            </tr>
        }
    </tbody>
</table>
