@using Microsoft.AspNetCore.Http 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @*<title>@ViewBag.Title</title>*@
    <title>Atlantic Partners Asia - Payment Services</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style2.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <!-- Freezze Column -->
    <link href="~/css/sticky.css" rel="stylesheet">

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="@Url.Action("CreateQuote", "Txn")">
                    <img id="logo" src="~/image/logo.png">
                </a>
            </div>
            <ul class="list-unstyled components">
                <li>
                    @Html.ActionLink("TX", "Index", "Txn")
                </li>
                <li>
                    @Html.ActionLink("Payout", "Index", "Payout")
                </li>
                <li>
                    @Html.ActionLink("Slip", "Index", "Slip")
                </li>
                <li>
                    <a href="#SubmenuReport" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Report</a>
                    <ul class="collapse list-unstyled" id="SubmenuReport">
                        <li>
                            @Html.ActionLink("Provider Slip", "Index", "ReportProvider")
                        </li>
                        @*<li>
                            @Html.ActionLink("Account Payable", "Index", "ReportAccount")
                        </li>*@
                        <li>
                            @Html.ActionLink("Commission", "Export", "ReportCommission")
                        </li>
                        <li>
                            @Html.ActionLink("TX Gross Profit", "Index", "ReportTxn")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#SubmenuClient" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Client</a>
                    <ul class="collapse list-unstyled" id="SubmenuClient">
                        <li>
                            @Html.ActionLink("Client", "Index", "Client")
                        </li>
                        <li>
                            @Html.ActionLink("Client Bank Account", "Index", "ClientBankAccount")
                        </li>
                        <li>
                            @Html.ActionLink("Client Trading Profile", "Index", "ClientTradingProfile")
                        </li>
                        <li>
                            @Html.ActionLink("Client T/P Introducer Map", "Index", "ClientTradingProfileIntroducerMap")
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#SubmenuProvider" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Provider</a>
                    <ul class="collapse list-unstyled" id="SubmenuProvider">
                        <li>
                            @Html.ActionLink("Provider", "Index", "Provider")
                        </li>
                        <li>
                            @Html.ActionLink("Provider Bank Account", "Index", "ProviderBankAccount")
                        </li>
                        <li>
                            @Html.ActionLink("Provider Trading Profile", "Index", "ProviderTradingProfile")
                        </li>
                        <li>
                            @Html.ActionLink("Provider T/P Introducer Map", "Index", "ProviderTradingProfileIntroducerMap")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#SubmenuAccount" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">APA Account</a>
                    <ul class="collapse list-unstyled" id="SubmenuAccount">
                        <li>
                            @Html.ActionLink("APA Account", "Index", "Account")
                        </li>
                        <li>
                            @Html.ActionLink("APA Bank Account", "Index", "AccountBankAccount")
                        </li>
                        <li>
                            @Html.ActionLink("Adjsut", "Index", "AccountAdjust")
                        </li>
                        <li>
                            @Html.ActionLink("Transfer", "Index", "AccountTransfer")
                        </li>
                        <li>
                            @Html.ActionLink("Transaction History", "Index", "AccountTxn")
                        </li>
                        <li>
                            @Html.ActionLink("Account Balance", "Index", "ReportAccountBalance")
                        </li>
                        <li>
                            @Html.ActionLink("Account Payable", "Index", "ReportAccountPayable")
                        </li>
                        <li>
                            @Html.ActionLink("Account Receivable", "Index", "ReportAccountReceivable")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#SubmenuIntroducer" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Introducer</a>
                    <ul class="collapse list-unstyled" id="SubmenuIntroducer">
                        <li>
                            @Html.ActionLink("Introducer", "Index", "Introducer")
                        </li>
                        <li>
                            @Html.ActionLink("Introducer Bank Account", "Index", "IntroducerBankAccount")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#SubmenuMaintenance" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Maintenance</a>
                    <ul class="collapse list-unstyled" id="SubmenuMaintenance">
                        <li>
                            @Html.ActionLink("DFR", "Index", "Dfr")
                        </li>
                        <li>
                            @Html.ActionLink("Cost Rate", "Index", "CostRate")
                        </li>
                        <li>
                            @Html.ActionLink("Sender", "Index", "Sender")
                        </li>
                        <li>
                            @Html.ActionLink("Currency Pair", "Index", "CurrencyPair")
                        </li>
                        <li>
                            @Html.ActionLink("Currency", "Index", "Currency")
                        </li>
                        <li>
                            @Html.ActionLink("Country", "Index", "Country")
                        </li>
                    </ul>
                </li>
            </ul>

            @*<ul class="list-unstyled CTAs">
                    <li>
                        <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                    </li>
                    <li>
                        <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                    </li>
                </ul>*@
        </nav>

        <!-- Page Content  -->
        <div id="content">
            @if(Context.Session.GetString("UserName")!=null)
            {
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="nav navbar-nav ml-auto">
                        @Html.ActionLink("Logout", "Logout", "Home")
                    </div>
                </nav>
            }
            <div class="container-fluid">

                @*<button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>*@

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Home")
                        </li>
                    </ul>
                </div>

            </div>
            @*</nav>*@
            <main role="main" class="pb-3">
                @if(Context.Session.GetString("UserName")!=null)
                {
                @RenderBody()
                }
                else
                {  {IgnoreBody();}
                @Html.Partial("~/Views/Home/Login.cshtml")
                }
            </main>
        </div>
    </div> 

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    @*<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>*@
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Freezze Column -->
    <script src="~/js/sticky.js"></script>

    @RenderSection("Scripts", required: false)


    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });





        });


    </script>
</body>

</html>


